In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import chain
%matplotlib inline

In [22]:
df_bm = pd.read_csv("edificios_monumentos.csv", sep=";", encoding = 'unicode_escape', engine ='python')
df_bm.head()

,PK,NOMBRE,PDF,CONTENT-URL,NOMBRE-VIA,CLASE-VIAL,TIPO-NUM,NUM,PLANTA,PUERTA,...,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO,Unnamed: 27
0,302283,Almacenes Rodríguez,https://patrimonioypaisaje.madrid.es/FrameWork...,https://patrimonioypaisaje.madrid.es/sites/v/i...,CABALLERO DE GRACIA,Calle,V,3,NaN,NaN,...,CENTRO,440537.0,4474579.0,40.419716,-3.700924,NaN,NaN,NaN,NaN,
1,11072416,Antigua Fábrica Martini &amp; Rossi,https://patrimonioypaisaje.madrid.es/FrameWork...,https://patrimonioypaisaje.madrid.es/sites/v/i...,ARAGON,AVENIDA,V,328,NaN,NaN,...,SAN BLAS-CANILLEJAS,450421.0,4477812.0,40.449488,-3.584672,NaN,NaN,NaN,NaN,
2,303994,Ateneo de Madrid,https://patrimonioypaisaje.madrid.es/FrameWork...,https://patrimonioypaisaje.madrid.es/sites/v/i...,PRADO,Calle,V,21,NaN,NaN,...,CENTRO,440750.0,4474098.0,40.415398,-3.698369,NaN,NaN,NaN,NaN,
3,302440,Banco Bilbao Vizcaya Argentaria,https://patrimonioypaisaje.madrid.es/FrameWork...,https://patrimonioypaisaje.madrid.es/sites/v/i...,ALCALÁ,Calle,V,16,NaN,NaN,...,CENTRO,440759.0,4474522.0,40.417346,-3.699568,NaN,NaN,NaN,NaN,
4,325808,Banco de España,https://patrimonioypaisaje.madrid.es/FrameWork...,https://patrimonioypaisaje.madrid.es/sites/v/i...,ALCALÁ,Calle,V,48,NaN,NaN,...,CENTRO,441032.0,4474393.0,40.418076,-3.695073,NaN,NaN,NaN,NaN,

In [23]:
print("Hay", df_bm.shape[0], "entradas")
print("Hay", df_bm.shape[1], "columnas")
print("las columnas son:", list(df_bm))

Hay 212 entradas
Hay 28 columnas
las columnas son: ['PK', 'NOMBRE', 'PDF', 'CONTENT-URL', 'NOMBRE-VIA', 'CLASE-VIAL', 'TIPO-NUM', 'NUM', 'PLANTA', 'PUERTA', 'ESCALERAS', 'ORIENTACION', 'LOCALIDAD', 'PROVINCIA', 'CODIGO-POSTAL', 'COD-BARRIO', 'BARRIO', 'COD-DISTRITO', 'DISTRITO', 'COORDENADA-X', 'COORDENADA-Y', 'LATITUD', 'LONGITUD', 'TELEFONO', 'FAX', 'EMAIL', 'TIPO', 'Unnamed: 27']

In [24]:
#obtener el nombre de las columnas en una lista
column_name = df_bm.columns.tolist()
list_column = list(column_name)
list_column

['PK',
 'NOMBRE',
 'PDF',
 'CONTENT-URL',
 'NOMBRE-VIA',
 'CLASE-VIAL',
 'TIPO-NUM',
 'NUM',
 'PLANTA',
 'PUERTA',
 'ESCALERAS',
 'ORIENTACION',
 'LOCALIDAD',
 'PROVINCIA',
 'CODIGO-POSTAL',
 'COD-BARRIO',
 'BARRIO',
 'COD-DISTRITO',
 'DISTRITO',
 'COORDENADA-X',
 'COORDENADA-Y',
 'LATITUD',
 'LONGITUD',
 'TELEFONO',
 'FAX',
 'EMAIL',
 'TIPO',
 'Unnamed: 27']

In [25]:
#Eliminar las columnas que no me interesan
df_bm_drop = df_bm.drop([
    'PK',
    'PDF',
    'CONTENT-URL',
    'NOMBRE-VIA',
    'CLASE-VIAL',
    'TIPO-NUM',
    'NUM',
    'PLANTA',
    'PUERTA',
    'ESCALERAS',
    'ORIENTACION',
    'PROVINCIA',
    'COD-BARRIO',
    'COD-DISTRITO',
    'COORDENADA-X',
    'COORDENADA-Y',
    'TELEFONO',
    'FAX',
    'EMAIL',
    'TIPO',
    'Unnamed: 27'], axis=1)

df_bm_drop

,NOMBRE,LOCALIDAD,CODIGO-POSTAL,BARRIO,DISTRITO,LATITUD,LONGITUD
0,Almacenes Rodríguez,MADRID,28013.0,SOL,CENTRO,40.419716,-3.700924
1,Antigua Fábrica Martini &amp; Rossi,MADRID,28022.0,REJAS,SAN BLAS-CANILLEJAS,40.449488,-3.584672
2,Ateneo de Madrid,MADRID,28014.0,CORTES,CENTRO,40.415398,-3.698369
3,Banco Bilbao Vizcaya Argentaria,MADRID,28014.0,CORTES,CENTRO,40.417346,-3.699568
4,Banco de España,MADRID,28014.0,CORTES,CENTRO,40.418076,-3.695073
...,...,...,...,...,...,...,...
207,Viviendas y oficinas para Ramón Saiz de Carlos,MADRID,NaN,SOL,CENTRO,40.419884,-3.704333
208,Viviendas y oficinas para Santos Suárez y Comp...,MADRID,28013.0,PALACIO,CENTRO,40.420910,-3.707597
209,Viviendas y oficinas para Seguros La Estrella,MADRID,28013.0,CORTES,CENTRO,40.419260,-3.698892
210,Viviendas y teatro Fontalba para el marqués de...,MADRID,28004.0,UNIVERSIDAD,CENTRO,40.420435,-3.702629
211,Zoo Aquarium de Madrid,MADRID,NaN,NaN,DISTRITO,40.411760,-3.761360

In [26]:
#ver el tipo de las variables
display(df_bm_drop.dtypes)

NOMBRE            object
LOCALIDAD         object
CODIGO-POSTAL    float64
BARRIO            object
DISTRITO          object
LATITUD          float64
LONGITUD         float64
dtype: object

In [27]:
#convertir valores NA en 0
df_bm_drop['CODIGO-POSTAL'] = df_bm_drop['CODIGO-POSTAL'].fillna(0)
#quiero convertir a integer el codigo postal
df_bm_drop['CODIGO-POSTAL'] = df_bm_drop['CODIGO-POSTAL'].astype(int)
df_bm_drop.head(5)

,NOMBRE,LOCALIDAD,CODIGO-POSTAL,BARRIO,DISTRITO,LATITUD,LONGITUD
0,Almacenes Rodríguez,MADRID,28013,SOL,CENTRO,40.419716,-3.700924
1,Antigua Fábrica Martini &amp; Rossi,MADRID,28022,REJAS,SAN BLAS-CANILLEJAS,40.449488,-3.584672
2,Ateneo de Madrid,MADRID,28014,CORTES,CENTRO,40.415398,-3.698369
3,Banco Bilbao Vizcaya Argentaria,MADRID,28014,CORTES,CENTRO,40.417346,-3.699568
4,Banco de España,MADRID,28014,CORTES,CENTRO,40.418076,-3.695073

In [29]:
df_bm_drop.shape[0]
df_bm_drop.isnull().sum()

NOMBRE           0
LOCALIDAD        0
CODIGO-POSTAL    0
BARRIO           4
DISTRITO         0
LATITUD          2
LONGITUD         2
dtype: int64

In [30]:
df_bm_drop.to_csv('edificios_madrid.csv')